// variables
// main colors
$color-primary:#55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

// font colors

$primary-font-color: #eee;
$white-btn-font-color: #344;
$btnW-bg-color: #fff;

// font sizes

$default-font-size: 1.6rem;

// heading font sizes

$small-heading-font-size: 2rem;
$large-heading-font-size: 6rem;